In [9]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthieu', 'Laura', 'Kevin', 'Jonas'],
             'note': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'tentatives': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualifier': ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

etiquettes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=etiquettes)

print(df)
#question1
print(df.head(3))
#question2
df=df.dropna()
print(df)
#question3
a = ["name","note"]
print(df.loc[:,a])

# Question4 :Création de la nouvelle ligne à ajouter
new = pd.DataFrame({
    'name': 'Suresh',
    'note': 15.5,
    'tentatives': 1,
    'qualifier': 'yes'
}, index=['k'])

# Ajout de la nouvelle ligne au DataFrame
df = pd.concat([df, new])
#Question5
print(df)
df = df.drop('tentatives', axis=1)
print(df)
#question6
df['Succès'] = [1 if note > 10 else 0 for note in df['note']]
print(df)
#question7
df.to_csv('my_data.csv', index=True)

        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima   9.0           3       non
c  Katherine  16.5           2       oui
d      James   NaN           3       non
e      Emily   9.0           2       non
f    Michael  20.0           3       oui
g   Matthieu  14.5           1       oui
h      Laura   NaN           1       non
i      Kevin   8.0           2       non
j      Jonas  19.0           1       oui
        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima   9.0           3       non
c  Katherine  16.5           2       oui
        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima   9.0           3       non
c  Katherine  16.5           2       oui
e      Emily   9.0           2       non
f    Michael  20.0           3       oui
g   Matthieu  14.5           1       oui
i      Kevin   8.0           2       non
j      Jonas  19.0           1       oui
        name  note
a  Anastasia  12.5
b       Dima   9.0
c  Katherine  16.5
e      Emily   9.0
f    Michael  20.0
g   Matthieu  14.5
i      Kevin   8.0
j      Jonas  19.0
        name  note  tentatives qualifier
a  Anastasia  12.5           1       oui
b       Dima   9.0           3       non
c  Katherine  16.5           2       oui
e      Emily   9.0           2       non
f    Michael  20.0           3       oui
g   Matthieu  14.5           1       oui
i      Kevin   8.0           2       non
j      Jonas  19.0           1       oui
k     Suresh  15.5           1       yes
        name  note qualifier
a  Anastasia  12.5       oui
b       Dima   9.0       non
c  Katherine  16.5       oui
e      Emily   9.0       non
f    Michael  20.0       oui
g   Matthieu  14.5       oui
i      Kevin   8.0       non
j      Jonas  19.0       oui
k     Suresh  15.5       yes
        name  note qualifier  Succès
a  Anastasia  12.5       oui       1
b       Dima   9.0       non       0
c  Katherine  16.5       oui       1
e      Emily   9.0       non       0
f    Michael  20.0       oui       1
g   Matthieu  14.5       oui       1
i      Kevin   8.0       non       0
j      Jonas  19.0       oui       1
k     Suresh  15.5       yes       1